<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Question</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');

        body {
            font-family: "Reenie Beanie", cursive;
            font-weight: 400;
            font-style: normal;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
            color: #333;
        }

        .container {
            padding: 30px;
            border-radius: 5px;
            max-width: 800px;
            margin: 20px auto;

            background-color: #fdfdfd;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            background-image: radial-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px),
                radial-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px);
            background-position: 0 0, 25px 25px;
            background-size: 50px 50px;
        }

        h2 {
            font-family: "Reenie Beanie", cursive;
            font-size: 24px;
            color: red;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        .radio-group {
            margin-bottom: 20px;
        }

        label {
            font-family: "Reenie Beanie", cursive;
            display: block;
            font-size: 20px;
            margin-bottom: 10px;
            cursor: pointer;
            font-weight: 600;
        }

        input[type="radio"] {
            margin-right: 10px;
        }

        button {
            font-family: "Reenie Beanie", cursive;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 16px;
            font-weight: 600;
        }

        button:hover {
            background-color: #0056b3;
        }

        button:focus {
            outline: none;
        }

        .count_and_close {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="count_and_close">
            <h4>
                <%= questionNumber %>/<%= questionCount%>
            </h4>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"
                onclick="window.location.href='/quiz/select-topic'" style="cursor: pointer;">
                <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
            </svg>
        </div>
        <h2>
            <%=questionNumber%>
                <%= question?.question %>
        </h2>
        <form action="/quiz/question" method="POST">
            <input type="hidden" name="correctAnswer" value="<%= question?.answer %>">
            <input type="hidden" name="explanation" value="<%= question?.explanation %>">
            <input type="hidden" name="example" value="<%= question?.example %>">
            <div class="radio-group">
                <% options.forEach((option, idx)=> { %>
                    <label>
                        <input type="radio" name="answer" value="<%= option %>" required>
                        <%= option %>
                    </label>
                    <% }) %>
            </div>
            <button type="submit">Submit Answer</button>
        </form>
    </div>
    <script src="/js/question.js"></script>
</body>

</html>
